html {
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
}
/*
The html tag creates basic rules for the whole page
*/
header, main {
    padding: 2.5 rem;
}
/*This tag creates changes for both the header and main tag*/
main {
    max-width: 10rem;
}
/*This effects only the main tag*/
header {
    background-color: gray;
    color: black;
    border-bottom: solid 3rem black;
    line-height: 2rem;
    padding: 2rem;
}

/*This effects only the header tag*/
h1 {
    font-size: 2.6 rem;
}
/*This changes the size of the h1 tag, but it keeps the font style of the html tag*/
p {
    color: darkslategray;
    font-size: 1.4 rem;
}
li {
    line-height: 1.5 rem;
}
a:link {
    color: cornflowerblue;
}
/* this changes the color of the link*/
a:visited {
    color: indianred;
}
/* this changes the color of the link after it has been visited*/
a:hover {
    background-color: lightsteelblue;
    color: dodgerblue;
    text-decoration: none;
}
/* This changes the link when the user hovers over it with the cursor*/
a:active {
    background-color: dodgerblue;
    color: lightsteelblue;
    text-decoration: none;
}
/* This changes the link once it is clicked on*/
